DISCORD_TOKEN=your_discord_bot_token_here
NOTIFICATION_CHANNEL_ID=1234567890123456789
YOUR_WALLET_ADDRESS=0xYourBaseWalletAddressHere
BASE_RPC=https://mainnet.base.org
USDC_CONTRACT_ADDRESS=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
POLL_INTERVAL_SECONDS=75
PRICE_UPDATE_MINUTES=30